@page
@model FilmRazor.Pages.AlbumDetailsModel

<h1>Album Details v0</h1>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>@Html.DisplayFor(Model => Model.Album.intId)</p>

<p>@Html.DisplayFor(Model => Model.Album.strDescription)</p>
